<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Video Api!</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://video.corynorris.me">
        <img src="<%= Routes.static_path(@conn, "/images/elixir-logo.svg") %>" width="130" height="32">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-basic">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-basic" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="/sign_up" class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a href="/login" class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
  </nav>
  <%= render @view_module, @view_template, assigns %>

  <footer class="footer has-text-centered">
    <div class="container">
      <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
          <p>
            <small>
              Source code licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
            </small>
          </p>
          <p>
            <small>
              Built with
            </small>
          </p>
          <p style="margin-top: 1rem;">
            <a href="https://elixir-lang.org/">
              <img src="<%= Routes.static_path(@conn, "/images/elixir.png") %>" alt="Elixir logo" width="94"
                height="24">
            </a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>