<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Video Api!</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">

    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <%# <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> %>
  </head>

  <body data-js-file="<%=unique_view_name(@view_module, @view_template) %>">
    <%= render VideoApiWeb.SharedView, "main_nav.html", assigns %>
    <div class="container dashboard">
      <div class="columns">
        <%= render VideoApiWeb.SharedView, "side_nav.html", assigns %>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
    <%= render VideoApiWeb.SharedView, "footer.html", assigns %>
    <script src="<% Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>

</html>