<h1>Show Api key</h1>

<ul>

  <li>
    <strong>Api key:</strong>
    <%= @api_key.api_key %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.api_key_path(@conn, :edit, @api_key) %></span>
<span><%= link "Back", to: Routes.api_key_path(@conn, :index) %></span>
